@layout('main')

@section('content')
    <h1>Posts</h1>
    <p>{{title}}</p>
    @if(old('msg'))
        <div class="alert alert-success">
            {{old('msg')}}
        </div>
    @endif
    <ul class="list-group">
        @each(post in posts)
            <li class="list-group-item"><a href="/posts/{{post.id}}">Title: {{post.title}}</a></li>
         @endeach
    </ul>
@endsection
